<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Application</title>

</head>
<body>
  <h3>Quiz I</h3>
<!--method="post" action="mailto:raizen@mail.utexas.edu?subject=Vocabulary Quiz 1" enctype="text/plain"-->
<form >

Check the answer to each multiple-coice question, and click on the "Send Form" button to submit the information.
    {% if quiz %}
{% for quiz in quizs %}
<P>{{ quiz.question }}<BR>

</p>
{% endfor %}
{% else %}
    <h3>Please ask your admin to release a Quiz</h3>
    {% endif %}
<br>
<br>
<br>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>

</body>
</html>